@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248, 248, 248;
  --foreground: 3, 3, 3;

  --primary: 234, 69, 76;
  --primary-foreground: 255, 255, 255;

  --border: 196, 196, 196;
  --label: 24, 24, 24;
  --placeholder: 99, 99, 100;

}

.dark {
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --foreground: 255, 255, 255;
  }
}

@layer utilities {}
