@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248, 248, 248;
  --foreground: 3, 3, 3;

  --primary: 252, 94, 3;
  --primary-foreground: 255, 255, 255;

  --border: 196, 196, 196;
  --label: 24, 24, 24;
  --placeholder: 99, 99, 100;
  --muted: 105, 105, 105;
  --destructive: 255, 71, 71;
}

/* .dark {
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;  
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --foreground: 255, 255, 255;
  }
} */

@layer base {
  main {
    @apply px-8
  }
}

@layer utilities {
  .border-transition {
    @apply transition-all duration-300 ease-in-out;
    width: 0;
  }
}
